<!--Loads the path to the static file-->
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
		<!--JQUERY CDN-->
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
	  		crossorigin="anonymous"></script>
		<!--JQUERY CDN ENDS HERE-->

		<!--BOOTSTRAP CDN-->
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!--BOOTSTRAP CDN ENDS-->

		<link rel="stylesheet" type="text/css" href={% static 'order_management/login.css' %}>

</head>
<body>
	<h1 id="page_heading">IceKraft Order Management</h1>
	<div class="container">
		<h3 id="login_heading">MANAGE ORDERS WITH EASE!</h3>
		<hr>
		{% if error_message %}
		<p style="color: red;">{{error_message}}</p>
		{% endif %}
        <form method="POST" action={% url 'order_management:login' %}>
            {% csrf_token %}
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
    			<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="username">
    			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group">
    			<label for="exampleInputPassword1">Password</label>
    			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  			</div>
  			<button type="submit" class="submitButton">Submit</button>
  			<small id="forgotPassword" class="form-text text-muted"><a href="#">Forgot Password?</a></small>
		</form>
		
	</div>
</body>
</html>