{% extends "order_management/base.html" %}

{% load staticfiles %}


{% block static %}



<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src = {% static 'order_management/past_orders.js' %}></script>

{% endblock %}


{% block content %}


<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<table id="pastOrders">
    <thead>
        <tr>
            <th>Order Created On</th>
            <th>Order Updated On</th>
            <th>Order Table Number</th>
            <th>Order Active</th>
            <th>Order Total Amount</th>
            <th>Order Confirm</th>
            <th>FoodItems</th>
        </tr>
    </thead>
    <tbody>
        {% for order,food in order_data %}
        <tr>
            <td>{{order.order_created_on}}</td>
            <td>{{order.order_updated_on}}</td>
            <td>{{order.order_table_number}}</td>
            <td>{{order.order_active}}</td>
            <td>{{order.order_total_amount}}</td>
            <td>{{order.order_confirm}}</td>
            <td>{{food}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

